html,
body {
  margin: 0;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 59vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container, .location, .warehouse-detail {
  margin: 0 auto;
  max-width: 1440px;
}

@font-face {
  font-family: Avenir Next Regular;
  src: url("../assets/fonts/AvenirNextProLT/Regular.otf");
}

@font-face {
  font-family: Avenir Next Demi Bold;
  src: url("../assets/fonts/AvenirNextProLT/Demi.otf");
}

@font-face {
  font-family: Avenir Next Bold;
  src: url("../assets/fonts/AvenirNextProLT/Bold.otf");
}

html,
body {
  margin: 0;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 59vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container, .location, .warehouse-detail {
  margin: 0 auto;
  max-width: 1440px;
}

.active {
  border-bottom: 0.313rem #ffffff solid;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  margin-bottom: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.header__anchor {
  margin-top: 0.5rem;
}

.header__logo {
  margin: 0.625rem auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.813rem;
  margin-top: 0.188rem;
  margin-right: 0;
}

.navigation__options {
  width: 80%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.navigation__options-text {
  margin-top: 0;
  font-family: "Avenir Next Demi Bold";
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-decoration: none;
}

.navigation__options:hover {
  color: #ffffff;
  border-bottom: 0.313rem #ffffff solid;
  text-decoration: none;
}

.navigation__options a, .navigation__options-text:active {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 9.375rem;
    height: 3.125rem;
    padding-bottom: 0.938rem;
  }
  .header__anchor {
    padding-bottom: 0.938rem;
  }
  .header__logo {
    width: 9.688rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  .navigation__options {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2.3rem;
  }
  .navigation__options-text {
    font-family: "Avenir Next Demi Bold";
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 1440px) {
  .header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.625rem;
    margin-left: 11.25rem;
  }
  .header__logo {
    width: 9.375rem;
    margin-right: 3.5rem;
    padding-bottom: 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 0;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 21.875rem;
    padding: 0;
  }
  __options {
    width: 20%;
    height: 6.25rem;
    margin: 0 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

label {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.375rem;
  color: #afafaf;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
  font-family: "Avenir Next Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
}

.inventory {
  padding: 2rem 1rem 0;
}

.inventory__tablet {
  display: none;
}

.inventory__shrink {
  overflow: hidden;
  display: 2 vertical;
}

.inventory__title {
  font-family: "Avenir Next Bold";
  font-size: 1.75rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
}

.inventory__search {
  background-color: #fafafa;
  width: 15.75rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #e1e1e1;
  margin-bottom: 0.5rem;
}

.inventory__search-image {
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.inventory__search-bar {
  background-color: #fafafa;
  resize: none;
  width: inherit;
  height: 2.875rem;
  margin-right: 0.3125rem;
  font-family: "Avenir Next Demi Bold";
  font-size: 0.875rem;
  line-height: 1.375rem;
  border: none;
}

.inventory__search-bar:focus {
  outline-width: 0;
}

.inventory__product {
  text-decoration: none;
  font-family: "Avenir Next Demi Bold";
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
}

.inventory__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1.5px solid #e1e1e1;
}

.inventory__product-name {
  color: black;
  font-weight: bold;
  font-family: "Avenir Next Demi Bold";
  font-size: 1rem;
  line-height: 1.375rem;
  cursor: pointer;
}

.inventory__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory__product-margin, .inventory__options {
  margin-top: 1.5rem;
}

.inventory__options {
  padding-right: 0.25rem;
  height: 0;
}

@media (min-width: 768px) {
  p,
  label {
    margin: unset;
    font-family: "Avenir Next Regular";
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .inventory {
    padding: 3rem 1.5rem;
  }
  .inventory__mobile {
    display: none;
  }
  .inventory__search {
    margin-top: 1.5rem;
  }
  .inventory__product {
    padding-bottom: unset;
  }
  .inventory__container {
    height: auto;
    padding: 1.5rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventory__product-name {
    color: black;
    font-weight: bold;
    font-family: "Avenir Next Demi Bold";
    font-size: 1.2rem;
    line-height: 1.375rem;
    padding-bottom: 10px;
  }
  .inventory__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  .inventory__tablet-right {
    width: 8rem;
  }
  .inventory__tablet-item {
    width: 12.1875rem;
  }
  .inventory__tablet-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 12.1875rem;
  }
  .inventory__tablet-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inventory__flex {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inventory__top-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem;
  }
  .inventory__title {
    font-family: "Avenir Next Bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: unset;
  }
  .inventory__options {
    padding-bottom: 2.75rem;
  }
  .kebab {
    width: 7.5rem;
  }
}

@media (min-width: 1440px) {
  .inventory {
    padding: 2.5rem 11.25rem;
  }
  .inventory__title {
    padding-top: 0.5rem;
  }
  .inventory__search {
    margin-top: 2rem;
  }
  .inventory__container {
    height: auto;
  }
  .inventory__shrink {
    line-clamp: 1;
  }
  .inventory__tablet-product {
    width: 17.75rem;
  }
  .inventory__tablet-right {
    width: 10.5625rem;
  }
  .kebab {
    width: 10.063rem;
  }
}

.add-new {
  height: 3.75rem;
  width: 3.75rem;
  background-color: #004892;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 1.25rem;
}

.add-new:hover {
  background-color: #002f5f;
}

@media (min-width: 768px) {
  .add-new {
    right: 5rem;
  }
}

@media (min-width: 1440px) {
  .add-new {
    height: 5rem;
    width: 5rem;
    right: 16.25rem;
    bottom: 7.5rem;
  }
}

.add-new__img {
  height: 1.25rem;
  width: 1.25rem;
}

@media (min-width: 1440px) {
  .add-new__img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.product {
  margin: 40px 1rem 1.5rem;
}

.product__container {
  width: 100%;
  margin: auto;
}

.product__label-page {
  font-family: "Avenir Next Bold";
  font-size: 1.75rem;
  line-height: auto;
  margin-bottom: 24px;
}

.product__instock-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  background-color: #267a26;
  border-radius: 4px;
}

.product__instock-status-text {
  color: #ffffff;
  font-family: "Avenir Next Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-bottom: 0;
}

.product__hr {
  visibility: hidden;
}

.product__label-description, .product__label-last-ordered, .product__label-location, .product__label-quantity, .product__label-categories {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.375rem;
  color: #afafaf;
  margin-top: 24px;
  margin-bottom: 16px;
}

.product__item-description, .product__categories {
  width: 90%;
}

.product__categories {
  margin-bottom: 40px;
}

.product p {
  font-family: "Avenir Next Regular";
  font-size: 0.9rem;
  line-height: 1.125rem;
}

.product__edit-btn {
  width: 288px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #002f5f;
  background-color: #002f5f;
  color: #ffffff;
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.125rem;
}

@media (min-width: 768px) {
  .product__container {
    width: 720px;
  }
  .product__instock-status {
    margin-top: 25px;
  }
  .product__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__label-page {
    margin-right: 24px;
  }
  .product__hr {
    visibility: visible;
  }
  .product__btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .product__edit-btn {
    margin-top: 40px;
    width: 288px;
  }
  .product__info-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 360px 360px;
        grid-template-columns: 360px 360px;
  }
  .product__label-value-container {
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .product__container {
    width: 1080px;
  }
  .product__description-details-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.location {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .location {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .location {
    max-width: 1080px;
    padding: 0;
  }
}

.location__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__title {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0 16px 0;
}

.location__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__search-box {
  font-family: "Avenir Next Demi Bold";
  font-size: 14px;
  line-height: 22px;
  background-color: #fafafa;
  resize: none;
  height: 46px;
  width: 252px;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
}

.location__labels-wrapper {
  display: none;
}

.warehouse-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0 24px 0;
  margin: 0;
  border-bottom: 2px solid #e1e1e1;
}

.warehouse-list__item {
  margin: 16px 0;
}

.warehouse-list__text--name {
  font-family: "Avenir Next Demi Bold";
  font-size: 16px;
  line-height: 24px;
}

.warehouse-list__text--address, .warehouse-list__text--contact-name, .warehouse-list__text--number, .warehouse-list__text--email, .warehouse-list__text--categories {
  margin: 0;
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 20px;
}

.warehouse-list__text--contact-position {
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin: 0;
}

.warehouse-list__warehouse-wrapper {
  position: relative;
}

.warehouse-list__btn {
  position: absolute;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .location__title {
    font-family: "Avenir Next Bold";
    font-size: 36px;
    line-height: 44px;
    margin: 48px 0;
  }
  .warehouse-list {
    padding: 24px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .warehouse-list__warehouse-wrapper {
    width: 720px;
  }
  .warehouse-list__contact-wrapper, .warehouse-list__contact-info-wrapper, .warehouse-list__categories-wrapper {
    width: 224px;
  }
}

@media (min-width: 1440px) {
  .location__labels-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .location__label-item {
    width: 184px;
  }
  .location__labels--text {
    font-family: "Avenir Next Regular";
    font-size: 14px;
    line-height: 24px;
    color: #afafaf;
  }
  .warehouse-list__item {
    margin: 0;
  }
  .warehouse-list__warehouse-wrapper, .warehouse-list__contact-wrapper, .warehouse-list__contact-info-wrapper, .warehouse-list__categories-wrapper {
    width: 184px;
  }
  .warehouse-list__btn {
    display: none;
  }
}

.warehouse-detail {
  margin: 0 16px;
  padding: 32px 0 24px 0;
}

@media (min-width: 768px) {
  .warehouse-detail {
    margin: 0 24px;
  }
}

@media (min-width: 1440px) {
  .warehouse-detail {
    margin: 0 180px;
  }
}

.warehouse-detail__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
}

.warehouse-detail__btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.warehouse-detail__name {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
  margin-left: 16px;
}

.warehouse-detail__text-wrapper {
  margin: 16px 0;
}

.warehouse-detail__text--subheader {
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 24px;
  color: #afafaf;
}

.warehouse-detail__text--address, .warehouse-detail__text--name, .warehouse-detail__text--position, .warehouse-detail__text--number, .warehouse-detail__text--email {
  width: 138px;
  margin: 0;
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .warehouse-detail__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .warehouse-detail__top-wrapper {
    padding-bottom: 32px;
    border-bottom: 2px solid #e1e1e1;
  }
  .warehouse-detail__info-wrapper {
    padding-top: 32px;
  }
  .warehouse-detail__address-wrapper, .warehouse-detail__contact-wrapper {
    width: 50%;
  }
  .warehouse-detail__name {
    font-family: "Avenir Next Bold";
    font-size: 36px;
    line-height: 44px;
  }
}

.warehouse-product {
  background: #fafafa;
  padding: 24px 0;
}

.warehouse-product-list {
  margin: 0 16px;
  padding: 0;
}

@media (min-width: 768px) {
  .warehouse-product-list {
    margin: 0 24px;
  }
}

@media (min-width: 1440px) {
  .warehouse-product-list {
    margin: 0 180px;
  }
}

.warehouse-product-list__item {
  padding-top: 16px;
}

.warehouse-product-list__text--label {
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 24px;
  color: #afafaf;
}

.warehouse-product-list__text--product-name {
  font-family: "Avenir Next Demi Bold";
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.warehouse-product-list__text--para {
  font-family: "Avenir Next Regular";
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.warehouse-product-list__btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */