@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNextProLT/Regular.otf");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/AvenirNextProLT/Bold.otf");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextProLT/Demi.otf");
}
