// MARGINS //
@mixin offset {
  margin: 0 16px;
  @include tablet {
    margin: 0 24px;
  }
  @include desktop {
    margin: 0 180px;
  }
}

@mixin search-box {
  @include paragraph(14px, 22px);
  background: url("/icons/Icon-search.svg");
  background-repeat: no-repeat;
  background-color: $alabaster;
  background-position-x: 12px;
  background-position-y: 12px;
  resize: none;
  padding-left: 40px;
  height: 46px;
  width: 252px;
  border: 1px solid $mercury;
  border-radius: 2px;
  &:focus {
    border: 1px solid $black;
  }
}

@mixin responsive {
  padding: 0 16px;
  @include tablet {
    max-width: 720px;
    padding: 0 24px;
  }
  @include desktop {
    max-width: 1080px;
    padding: 0;
  }
}
